# https://yamllint.readthedocs.io/en/stable/
---
extends: default

rules:
  comments-indentation: disable
  line-length: disable
  trailing-spaces: enable
  colons:
    max-spaces-before: 0
    max-spaces-after: -1
  document-end:
    present: true
  indentation:
    level: error
    indent-sequences: true  # consistent with ansible-lint
  truthy:
    level: error
    allowed-values:
      - 'true'
      - 'false'
    check-keys: false

...
